<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Help</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'help_styles.css' %}">

    </head>
    <body>
        <header>
            <main>
                <section>
                    <input type="text" class="search" placeholder="Please Enter Location">
                    <div class="wrapper">
                        <div class="header"> Needy People in Your Area</div>
                        <div class="cards_wrap">
                            <div class="card_inner">
                                <img src="images/avtaar.png">
                                <div class="Name">John</div>
                                <div class="Location">Ambala</div>
                            </div>
                        </div>
                    </div>

                </section>
            </main>

        </header>
    </body>
</html>

