
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Helping Hand</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'index_styles.css' %}">
        <style>
            body{
            width: 100%; height: 100vh;
            background-image: url("/static/images/main.jpg");
            opacity: 0.8;
            background-repeat: no-repeat;
            background-size: cover;
            }

        </style>
    </head>
    <body>
        <main>

            <section>
                <h1 style="font-size:6rem;font-weight:700;font-family:'Brush Script MT', cursive">Helping Hand</h1>
                <a href="{% url 'signup' %}" class="buttonone">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    SIGN UP
                </a>
                <a href="{% url 'signin' %}" class="buttontwo">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    SIGN IN
                </a>
            </section>
        </main>
    </body>
</html>